name: Build

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: maven:3.9.11-eclipse-temurin-21-alpine

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build with Maven
        run: mvn clean package

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: jar-artifact
          path: target/*.jar

  sast:
    name: Semgrep
    runs-on: ubuntu-latest
    container:
      image: returntocorp/semgrep:latest

    permissions:
      contents: read
      security-events: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Semgrep
        run: semgrep scan --config auto --sarif --output semgrep.sarif

      - name: Upload SARIF artifact
        uses: actions/upload-artifact@v4
        with:
          name: semgrep-report
          path: semgrep.sarif

      - name: Upload SARIF
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: semgrep.sarif

  sca:
    name: Dependency-check
    runs-on: ubuntu-latest
    container:
      image: maven:3.9.11-eclipse-temurin-21-alpine
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run OWASP
        run: mvn -B org.owasp:dependency-check-maven:check -Dnvd.api.key=${{ secrets.NVD_API_KEY }}

      - name: Upload report
        uses: actions/upload-artifact@v4
        with:
          name: dependency-check-report
          path: target/dependency-check-report.html

  dast-dynamic:
    name: ZAP scan
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      security-events: write
      actions: write
      checks: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: jar-artifact
          path: target

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Start Application
        run: |
          nohup java -jar target/*.jar &
          sleep 30

      - name: Fix permissions
        run: chmod -R 777 .

      - name: Create Empty Rules File
        run: touch zap_rules.tsv && chmod 666 zap_rules.tsv

      - name: Pull ZAP Image
        run: docker pull ghcr.io/zaproxy/zaproxy:stable

      - name: ZAP Baseline Scan
        run: |
          docker run --rm --network host --user root \
            -v $(pwd):/zap/wrk/:rw \
            ghcr.io/zaproxy/zaproxy:stable \
            zap-baseline.py -t http://localhost:8080 -r zap-baseline-report.html -I || true

      - name: Upload Baseline Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: zap-baseline-report
          path: zap-baseline-report.html

      - name: ZAP API Scan
        run: |
          docker run --rm --network host --user root \
            -v $(pwd):/zap/wrk/:rw \
            ghcr.io/zaproxy/zaproxy:stable \
            zap-api-scan.py -t http://localhost:8080/v3/api-docs -f openapi -r zap-api-report.html -I || true

      - name: Upload API Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: zap-api-report
          path: zap-api-report.html